[restream.io]
client_secret = SECRET_FROM_RESTREAM
refresh_token = LEAVE_BLANK

[rev.ai]
token = TOKEN_FROM_REV_AI

[openai.com]
token = TOKEN_FROM_OPENAI

[chatbot.twitch.tv]
client_secret = SECRET_FROM_TWITCH
refresh_token = LEAVE_BLANK

[streamer.twitch.tv]
client_secret = SECRET_FROM_TWITCH (same as above)
refresh_token = LEAVE_BLANK

